.weather-output {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.weather-output_container {
  height: 290px;
  width: 400px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: rgba(173, 170, 170, 0.342);
  border: 1px solid rgb(255, 255, 255);
}

.weather-output_city {
  font-size: 20px;
}

.weather-output_temp {
  font-size: 35px;
}

.weather-output_temp_icon {
  position: absolute;
  right: 640px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .weather-output {
    margin-left: 100px;
  }
  .weather-output_temp {
    font-size: 25px;
  }
}

@media (max-width: 767px) {
  .weather-output_container {
    height: 250px;
    width: 180px;
    line-height: 10px;
    margin-right: 180px;
  }

  .weather-output_city {
    font-size: 16px;
  }
}

@media (max-width: 650px) {
  .weather-output {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

.weather-output_container {
    height: 200px;
    width: 130px;
    line-height: 5px;
    margin-right: 130px;
  }

   .weather-output_city {
    font-size: 12px;
  }

  .weather-output_temp {
    font-size: 22px;
  }
}

@media (max-width: 480px) {
  .weather-output_container {
    height: 300px;
    width: 200px;
    line-height: 5px;
    margin-right: 60px;
    font-size: 17px;
    line-height: 17px;
  }

  .weather-output_city {
    font-size: 18px;
  }

  .weather-output_temp {
    font-size: 40px;
  }
}
